.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mainCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    border: 0.5px solid #ebf0f7;
    box-shadow: none;
    margin-top: 30px;
    h2,p{
        margin-bottom: -5px;
    }
    .forgotPasswordPage {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .mat-form-field {
            width: 100%;
            display: inline-block;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                border-radius: 5px;
                cursor: pointer;
                background-color: #1a73e8;
                border-color: #1a73e8;
                font-size: 16px;
                color: white;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .buttons {
        display: flex;
        flex-direction: column;
        button {
            margin-top: 10px;
        }
    }
}
