<div class="main">
    <mat-card class="mainCard">
      <div class="forgotPasswordPage">
        <mat-card-title>
          <p>
            <span style="color: #fbbd04;">F</span>
            <span style="color: orange">u</span>
            <span style="color: blue;">n</span>
            <span style="color: rgb(0, 255, 34);">d</span>
            <span style="color: rgb(15, 196, 241);">o</span>
            <span style="color: rgb(5, 5, 26);">o</span>
          </p>
        </mat-card-title>
        <h2>Find your email</h2>
        <h3>Enter your recovery email</h3>
        <form [formGroup]="ForgotPasswordForm">
          <div>
            <mat-form-field class ="mat-form-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName='email'>
              <mat-error>{{EmailValidation()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="buttons">
            <button mat-flat-button routerLink="/login" >GoBack</button>
            <button mat-flat-button >Next</button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>