.main {
    display: flex;
    justify-content: center;
}
.mainCard {
    width: 60%;
    display: flex;
    padding: 40px 40px 36px;
    align-items: center;
    justify-content: center;
    margin: 5% 8%;
}
.names {
    display: flex;
    justify-content: space-between;
}
.email {
    width: 100%;
    padding-bottom: 5%;
}
h1 {
    color: #42515f;
}
.buttons {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: blue;
        font-weight: bold;
    }
    button {
        background-color: rgb(19, 19, 231);
        font-size: 16px;
        padding: 10px 24px;
        color: white;
    }
}
.rightSide {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 900px) {
    .rightSide {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .names{
        flex-direction: column;
    }
}

