@mixin center{
    display: flex;
    justify-content: center;
  }
  @mixin spaceBetween{
    display: flex;
    justify-content: space-between;
  }
.main {
    @include center;
    .mainCard {
        width: 60%;
        @include center;
        padding: 40px 40px 36px;
        align-items: center;
        margin-top: 20px;
        border: 0.5px solid #ebf0f7;
        h1 {
            color: #42515f;
        }
        .names {
            @include spaceBetween;
        }
        .email {
            width: 100%;
            padding-bottom: 5%;
            .gmail {
                vertical-align: super;
            }
        }
        .buttons {
            margin-top: 15%;
            @include spaceBetween;
            align-items: center;
            a {
                color: blue;
                font-weight: bold;
                text-decoration: none;
            }
            button {
                border-radius: 5px;
                cursor: pointer;
                background-color: rgb(19, 19, 231);
                font-size: 16px;
                padding: 10px 24px;
                color: white;
            }
        }
    }
}

.rightSide {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 900px) {
    .rightSide {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .names {
        flex-direction: column;
    }
}
