@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@mixin flexProperties {
    display: flex;
    align-items: center;
}
mat-toolbar {
    @include flexProperties;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgb(218, 220, 224);
}
.fundooimg {
    @include flexProperties;
}
::ng-deep .mat-form-field {
    .mat-form-field-flex {
        @include flexProperties;
        height: 55%;
        border-radius: 10px !important;
        margin-top: 2em;
        font-size: 15px;
        padding: 0 !important;
    }
    .mat-form-field-underline {
        width: 0;
    }
}
::ng-deep .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
    font-size: 150%;
    line-height: 1.3;
    padding-left: 15px;
}
.email {
    margin-top: -10px;
    color: #5f6368;
}
.mat-raised-button {
    margin-top: 18px !important;
    margin-bottom: 5px !important;
}
::ng-deep .mat-menu-content {
    text-align: center !important;
    padding: 4em;
}
.mat-menu-item {
    text-align: center;
}
.divider{
    width: 100%; 
    margin: 0px;
    padding: 0px;
}
.sidenavMain {
    min-height: 500px;
    background-color: white;
}
mat-sidenav:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 70px !important;
    overflow: hidden !important;
    
}
::ng-deep .mat-drawer-inner-container{
    overflow-x: hidden !important;
}
mat-sidenav {
    width: 250px;
    border-right: 0;
}
mat-sidenav-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.get_notes{
    display: flex;
    flex-wrap: wrap;
}
.mainContent{
    display: flex;
    justify-content:center;
    align-items: center;
}
.sidenavimg {
    padding: 0px;
    margin: 0px;
}
mat-list-item:hover {
    background-color: #feefc3;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.fordiv{
    display: flex;
}
::ng-deep .get_notes
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
::ng-deep .AccountMenu{
    padding:10px 25px 25px 25px;
}
