.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mainCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    border: 0.5px solid #ebf0f7;
    box-shadow: none;
    margin-top: 30px;
    .loginPage {
        display: flex;
        flex-direction: column;
        mat-form-field {
            width: 80%;
        }
        .forgotPassword {
            text-decoration: none;
            display: flex;
            align-items: flex-start;
            font-weight: bold;
            color: #1a73e8;
            margin-left: 45px;
        }
        .buttons {
            margin-top: 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                margin-left: 45px;
                color: #1a73e8;
                text-decoration: none;
                font-weight: bold;
            }
            button {
                margin-right: 45px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #1a73e8;
                border-color: #1a73e8;
                font-size: 16px;
                color: white;
            }
        }
    }
}
.iconButton{
    background-color: white;
    border: white;
}
@media only screen and (max-width: 900px) {
    .mainCard{
        width: 35%;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        a {
            margin-left: 0px !important;
            align-content: center;
        }
        button {
            margin-top: 10px;
            margin-right: 0px !important;
        }
    }
}
@media only screen and (max-width: 360px)
{
    .forgotPassword{
        margin: 0px !important;
    }
}
@media only screen and (max-width: 411px)
{
    .forgotPassword{
        margin-left: 15px !important;
    }
}
