<div class="icon">
    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="Remainder">
        <mat-menu #Remainder="matMenu" class="r-option">
            <p class="remindHead">Remainder:</p>
            <button mat-menu-item class="remindbutton">
                <p>Later today</p>
                <p>9:00PM</p>
            </button>
            <button mat-menu-item class="remindbutton">
                <p>Tomorrow</p>
                <p>9:00AM</p>
            </button>
        </mat-menu>
        <mat-icon mat-list-icon class="material-icons-outlined"matTooltip="Remind me">notifications_none</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="collaborater">person_add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="Color">
        <mat-menu #Color="matMenu" yPosition="above">
            <span class="colors" (click)="ChangeColor(colors[i].color)" [style.background-color]="colors[i].color"
                matTooltip="{{colors[i].toolTip}}" *ngFor="let color of colors;let i=index">
                <mat-icon mat-list-icon *ngIf="colors[i].check">done</mat-icon>
            </span>
        </mat-menu>
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Change Color">color_lens</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Add Image">image</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Archive">archive</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="moreMenu">
        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item>Add Label</button>
            <button mat-menu-item>Delete Label</button>
        </mat-menu>
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="More">more_vert</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon mat-list-icon class="material-icons-outlined">redo</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon mat-list-icon class="material-icons-outlined">undo</mat-icon>
    </button>
    <button mat-button (click)="CreateNote()">Close</button>
</div>