.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
mat-icon {
    color: #8b8a8a;
    font-size: 18px;
}
::ng-deep #mat-menu-panel-2 .mat-menu-content {
    padding: 0px;
}
::ng-deep #mat-menu-panel-2 {
    min-height: 0px !important;
}
::ng-deep #mat-menu-panel-1 .mat-menu-content,
.mat-menu-panel {
    padding: 0px;
    text-align: start !important;
}
::ng-deep #mat-menu-panel-1 {
    padding: 0px;
    width: 200px !important;
    .r-par {
        padding-left: 1em;
        padding-top: 10px;
    }
}
.remainder-but {
    display: flex;
    justify-content: space-between;
}
