.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
mat-icon{
    color:#8b8a8a;
    font-size: 18px;
}
.mat-menu-content {
    text-align: center !important;
    
}