<div class="icon">
    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="Remainder">
        <mat-menu #Remainder="matMenu" class="ReminderInNote">
            <p class="remindHead">Remainder:</p>
            <button mat-menu-item *ngFor="let rem of reminders;let i=index" (click)="addReminder(rem)"
                class="remindbutton"><span style="color: black;">{{rem.Text}}</span><span style="color:#bebec2">{{rem.Time}}</span></button>
        </mat-menu>
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Remind me">notifications_none</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="collaborater" (click)="openDialog()" >person_add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="Color" class="MainColor"   >
        <mat-menu #Color="matMenu" yPosition="above" class="ColorInNote" >
            <span class="colors" (click)="ChangeColor(colors[i].color)" [style.background-color]="colors[i].color"
                matTooltip="{{colors[i].toolTip}}" *ngFor="let color of colors;let i=index">
                <mat-icon mat-list-icon *ngIf="colors[i].check" style="padding-top: 5px;">done</mat-icon>
            </span>
        </mat-menu>
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Change Color">color_lens</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Add Image">image</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" (click)="archiveNote()" >
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Archive" *ngIf="!archive" >archive</mat-icon>
        <mat-icon mat-list-icon matTooltip="Archive" *ngIf="archive" >archive</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="moreMenu">
        <mat-menu #moreMenu="matMenu" class="LableInNote">
            <button mat-menu-item>Add Label</button>
            <button mat-menu-item>Delete Label</button>
        </mat-menu>
        <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="More">more_vert</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon mat-list-icon class="material-icons-outlined">redo</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon mat-list-icon class="material-icons-outlined">undo</mat-icon>
    </button>
    <button mat-button (click)="CreateNote()">Close</button>
</div>