<mat-card *ngIf="show" class="upCard">
    <mat-card-title class="dummy-card-title" (click)="show =!show">
        <input type="text" placeholder="Take a note..">
    </mat-card-title>
    <mat-card-subtitle class="sideicons">
        <mat-icon mat-list-icon class="material-icons-outlined sideiconone">check_box</mat-icon>
        <mat-icon mat-list-icon class="material-icons-outlined">crop_original</mat-icon>
    </mat-card-subtitle>
</mat-card>
<mat-card class="Card" *ngIf="!show" [style.background-color]="noteColor">
    <form [formGroup]="NoteForm">
        <mat-card-title class="card-title">
            <textarea cdkTextareaAutosize placeholder="Title" class="textarea" formControlName="Title"
                [style.background-color]="noteColor"></textarea>
            <button mat-icon-button class="example-icon favorite-icon" (click)="changePin()">
                <i class="material-icons" *ngIf="pin">push_pin</i>
                <mat-icon mat-list-icon class="material-icons-outlined" style="color: rgb(136, 133, 133);" *ngIf="!pin">
                    push_pin</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content class="card-content">
            <textarea cdkTextareaAutosize placeholder="Take a note.." class="textarea" formControlName="Description"
                [style.background-color]="noteColor"></textarea>
        </mat-card-content>
        <mat-card-footer>
            <div style="padding-left: 10px;">
                <span *ngIf="isReminder" class="reminderLabel">
                    <mat-icon mat-list-icon class="material-icons-outlined">watch_later</mat-icon>
                    <p>{{Reminder}}</p>
                    <mat-icon mat-list-icon class="material-icons-outlined" (click)="RemoveRemider()" style="cursor: pointer;">close
                    </mat-icon>
                </span>
            </div>
            <app-note-icon></app-note-icon>
        </mat-card-footer>
    </form>
</mat-card>