<mat-card *ngIf="show" class="upCard">
    <mat-card-title class="dummy-card-title" (click)="show =!show">
        <input type="text" placeholder="Take a note..">
    </mat-card-title>
    <mat-card-subtitle class="sideicons">
        <mat-icon mat-list-icon class="material-icons-outlined sideiconone">check_box</mat-icon>
        <mat-icon mat-list-icon class="material-icons-outlined">crop_original</mat-icon>
    </mat-card-subtitle>
</mat-card>
<mat-card class="Card" *ngIf="!show" [style.background-color]="noteColor">
    <form [formGroup]="NoteForm">
        <mat-card-title class="card-title">
            <textarea cdkTextareaAutosize placeholder="Title" class="textarea" formControlName ="Title" [style.background-color]="noteColor"></textarea>
            <i class="material-icons">push_pin</i>
        </mat-card-title>
        <mat-card-content class="card-content">
            <textarea cdkTextareaAutosize placeholder="Take a note.." class="textarea"
            formControlName ="Description" [style.background-color]="noteColor"></textarea>
        </mat-card-content>
        <mat-card-footer>
            <app-note-icon></app-note-icon>
        </mat-card-footer>
    </form>
</mat-card>