<div class="main">
    <mat-card class="mainCard">
      <div class="forgotPasswordPage">
        <mat-card-title>
          <p>
            <span style="color: #fbbd04;">F</span>
            <span style="color: orange">u</span>
            <span style="color: blue;">n</span>
            <span style="color: rgb(0, 255, 34);">d</span>
            <span style="color: rgb(15, 196, 241);">o</span>
            <span style="color: rgb(5, 5, 26);">o</span>
          </p>
        </mat-card-title>
        <h2>Reset Password</h2>
        <h3>Create New Password</h3>
        <form [formGroup]="ResetPasswordForm">
          <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'" formControlName='password'>
                <mat-error>{{FormValidation("password")}}</mat-error>
                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
                <mat-label>Confirm</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" formControlName='confirmPassword' pattern="{{ this.ResetPasswordForm.value.password}}">
                <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="ResetPasswordForm.controls['confirmPassword'].invalid">Password doesn't match</mat-error>
            </mat-form-field>
          </div>
          <div class="buttons">
            <button mat-flat-button routerLink="/login" >Cancel</button>
            <button mat-flat-button (click)="RestPassword()">Next</button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>